{% load static %}
{% load tags %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    <style type="text/css">
    .jumbotron {
      padding-bottom: 5%;
      padding-top: 5%;
    }
  </style>

    
      <title>Django project Split iT</title>
    
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <!-- <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Split It!</a>  -->
          <div class="navbar-brand mr-4"> Split It! </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}"><b>Home</b></a>
              <a class="nav-item nav-link" href="{% url 'promotion-home' %}"><b>Promotions</b></a>
              <a class="nav-item nav-link" href="{% url 'brand-list' %}"><b>Brands</b></a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}"><b>About</b></a>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  {% best_categories as best_categories%}
                  {% for category in best_categories %}
                  <button class="dropdown-item" type="button">{{ category.name }}</button>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}"><b>Profile</b></a>
                <a class="nav-item nav-link" href="{% url 'logout' %}"><b>Logout</b></a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}"><b>Login</b></a>
                <a class="nav-item nav-link" href="{% url 'register' %}"><b>Register</b></a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          {% if user.is_authenticated %}
            <div class="content-section">
              <h3>Hello {{ user }}! </h3>
              <p class='text-muted'>Your panel.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">
                  <a class="mr-2" href="{% url 'user-posts' user.username %}">Your splits</a>
                  </li>
                  <li class="list-group-item list-group-item-light">Joined</li>
                </ul>
              </p>
            </div>
          {% endif %}
          <div class="content-section">
            <h3>Best offers</h3>
              <ul class="list-group">
               {% best_promos as best_promos%}
                {% for promotion in best_promos %}
                <li class="list-group-item list-group-item-light">
                <a class="mr-2" href="{% url 'promotion-detail' promotion.pk %}">{{promotion.name}}</a>  
                </li>
                {% endfor %}         
              </ul>
            </p>
          </div>
          <div class="content-section">
            <h3>Best Brands</h3>
              <ul class="list-group">
                {% best_brands as best_brands%}
                {% for brand in best_brands %}
                <li class="list-group-item list-group-item-light">
                  <a class="mr-2" href="{% url 'promotion-brand' brand.name %}">{{brand.name}}</a>
                </li>
                {% endfor %}         
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
