{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <div class="row mb-2">
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <div class="col md-6">
          <strong class="d-inline-block mb-2 text-primary">Promotion:</strong>
          <p class="article-title"> {{ object.promotion.name }}</p>
          <p class="article-content">{{ object.promotion.description }}</p>
        </div>
        <div class="col md-6">
          <div class="d-flex justify-content-center mb-3">
          <img class="img" src="{{ object.promotion.image.url }}">
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
