{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="jumbotron border">
    <article class="media content-section posts2 textcolor border-dark">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata mb-4">
          <a class="mr-2 textcolor links" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          {% if object.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id object.promotion.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
          {% endif %}
        </div>

        <h2 class="article-title textcolor">{{ object.title }}</h2>
        <p class="article-content textcolor ">{{ object.content }}</p>

        <article class="media content-section posts2 textcolor border-dark">
          <img class="article-img img-thumbnail img-promo" src="{{ object.promotion.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2 textcolor links " href="{% url 'promotion-brand' object.promotion.brand.name %}">{{ object.promotion.brand.name }}</a> 
              <small class="text-muted">{{ object.promotion.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title textcolor links" href="{% url 'promotion-detail' object.promotion.pk %}">{{ object.promotion.name }}</a></h2>
            <p class="article-content">{{ object.promotion.description }}</p>
        </article>
        

      <div class="article-metadata">
        <h3 class="textcolor text-center">Joined: {{post.members.users.count}} / {{post.user_limit}} users:</h3> 
        {% for promotion_user in object.members.users.all  %}
        <div class="textcolor text-center">
        <img class="rounded-circle article-img" src="{{ promotion_user.profile.image.url }}">
        <p class="textcolor">{{promotion_user}} </p>
        </div>
        {% endfor %}
        {% if object.author != user and object.user_limit > object.members.users.all.count and user not in object.members.users.all %}
        <div class="form-group text-center">
          <a href="{% url 'join-split' object.id %}">
            <button class="btn btn-success">
              Join!
            </button>
          </a>
         </div>
        {% endif %}
        {% if user != object.author and user in object.members.users.all %}
        <div class="form-group text-center">
          <a href="{% url 'quit-split' object.id %}">
            <button class="btn btn-danger">
              Quit!
            </button>
          </a>
         </div>
        {% endif %}
        
      </div>
      <h2 class="article-title textcolor">Comments</h2>
      {% for comment in object_list  %}  <!-- object_list is comments-->
        <div class="row mb-2">
          <div class="media">
            <img class="rounded-circle article-img align-self-start mr-3" src="{{comment.author.profile.image.url}}" alt="image">
            <div class="media-body">
              <h5 class="mt-0 textcolor">{{comment.author.username}}</h5>
              <p>{{comment.content}}</p>
              {% if comment.author == user %}         
                <a href="{% url 'comment-delete' comment.id %}"> <i class="fa fa-reply"></i> Delete comment</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
      {% if is_paginated %}

        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

      {% endif %}
      <style>
      .col-form-label {
        display: none;
      }

      .form-control {
        height: 70px;
      }

      </style>
      <form method="POST", action= {% url 'my_form_view_url' object.id%}>
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Comment</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Post comment</button>
        </div>
      </form>
    </article>
  </div>
{% endblock content %}
